.논문{

    ul{
        li{
            line-height: 2.0;
        }
    }
}
.profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: cover;
    }
}