@import "./variables";
@import "./animation";

.container {
  .의료진소개-title {
    position: relative;

    font-size: 40px;
    font-weight: 700;
    color: $black;
    animation: fromBottom-10 1s linear;
  }
}
.professor-card {
  position: relative;
  animation: fromBottom-30 1s linear;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.professor-profile-tab {
    display: flex;
    gap: 10px;
  .tab-list {
      &.active{
          border-bottom: 3px solid $skyBlue;
      }
  }
}

.논문 {
  ul {
    li {
      line-height: 2;
    }
  }
}
.profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
}
