@import "./variables";
@import "./animation";

.container {
  .의료진소개-title {
    position: relative;

    font-size: 40px;
    font-weight: 700;
    color: $black;
    animation: fromBottom-10 1s linear;
  }
}
.professor-card {
  position: relative;
  animation: fromBottom-30 1s linear;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
.professor-profile-tab {
  margin: 64px 0px;
  display: flex;
  gap: 20px;
  color: $black;
  font-weight: 700;
  font-size: 20px;
  .tab-list {
    &::after {
      content: "";
      display: block;
      width: 100%;
      max-width: 30px;
      margin: auto;
      height: 3px;
      opacity: 0;
      background: $skyBlue;
      transition: all .5s ease-in-out;
    }
    &.active::after {
      opacity: 1;
    }
  }
}

.논문 {
  ul {
    li {
      line-height: 2;
    }
  }
}
.profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
}
